KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=
KERNEL_ARCH_EXEC_FORMAT=elf32

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/archBoot.o \
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/boot/multibootProc.o \
$(ARCHDIR)/core/archInfo.o \
$(ARCHDIR)/core/backtrace.o \
$(ARCHDIR)/core/cpu.o \
$(ARCHDIR)/core/fpu.o \
$(ARCHDIR)/core/gdt.o \
$(ARCHDIR)/display/ttyVGAText.o \
$(ARCHDIR)/interrupts/idt.o \
$(ARCHDIR)/interrupts/interrupts.o \
$(ARCHDIR)/interrupts/isr.o \
$(ARCHDIR)/memory/physicalMem.o \
$(ARCHDIR)/memory/virtualMem.o \
$(ARCHDIR)/peripherals/pic.o \
$(ARCHDIR)/peripherals/ps2Keyboard.o \
$(ARCHDIR)/peripherals/serial.o \
