KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=
KERNEL_ARCH_EXEC_FORMAT=elf32

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/cBoot.o \
$(ARCHDIR)/cpu.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdtLoad.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/interrupts.o \
$(ARCHDIR)/interruptsC.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/ttyTextMode.o \
$(ARCHDIR)/memory/physicalMemory.o \
$(ARCHDIR)/memory/virtualMemory.o \
$(ARCHDIR)/memory/paging.o \
$(ARCHDIR)/memory/alloc.o \
